@page
@model SparkAuto.Pages.Services.DetailsModel
@{
	ViewData["Title"] = "Create";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container pt-4 pb-2 row">
	<div class="col-6">
		<h2 class="text-info py-2">Service Details</h2>
	</div>
	<div class="col-3 offset-3 text-right py-2">
		<a asp-page="/Services/History" asp-route-carId="@Model.ServiceHeader.CarId" class="btn btn-outline-success form-control">
			Back To List
		</a>
	</div>
</div>
<div class="container backgroundWhite">
	<div class="card">
		<div class="card-header bg-dark text-light ml-0 row container">
			<div class="col-1 text-center pt-3 text-white-50">
				<i class="far fa-user fa-2x"></i>
			</div>
			<div class="col-5">
				<label class="text-info">@Model.ServiceHeader.Car.ApplicationUser.Name</label>
				<br />
				<label class="text-info">@Model.ServiceHeader.Car.ApplicationUser.Email / @Model.ServiceHeader.Car.ApplicationUser.PhoneNumber</label>
			</div>
			<div class="col-5 text-right">
				<label class="text-info">@Model.ServiceHeader.Car.Make / @Model.ServiceHeader.Car.Model / @Model.ServiceHeader.Car.Style</label>
				<br />
				<label class="text-info">@Model.ServiceHeader.Car.Year</label>
			</div>
			<div class="col-1 text-right pt-3 text-white-50">
				<i class="fas fa-car fa-2x"></i>
			</div>
		</div>
		<div class="card-body">
			<div class="row pt-3">
				<div class="col-7">
					<table class="table table-striped border">
						<tr class="table-secondary">
							<th>
								@Html.DisplayNameFor(m => Model.ServiceDetails[0].ServiceName)
							</th>
							<th>
								@Html.DisplayNameFor(m => Model.ServiceDetails[0].ServicePrice)
							</th>
						</tr>
						@foreach (var item in Model.ServiceDetails)
						{
							<tr>
								<td>
									@Html.DisplayFor(m => item.ServicePrice)
								</td>
								<td>
									@Html.DisplayFor(m => item.ServicePrice)
								</td>
							</tr>
						}
						<tr style="background-color: #e2fee2;">
							<td colspan="1">
								<h6 class="text-success">Total Price:</h6>
							</td>
							<td colspan="2">
								<h6 class="text-success">$@Model.ServiceHeader.TotalPrice</h6>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-5 px-4 pb-2">
					<div class="row">
						<div class="col-3">
							<label asp-for="ServiceHeader.Miles" class="form-control" style="border: none;"></label>
						</div>
						<div class="col-9">
							<input disabled asp-for="ServiceHeader.Miles" id="txtMiles" class="form-control" />

							<div><span asp-validation-for="ServiceHeader.Miles" class="text-danger"></span></div>
						</div>
					</div>
					<div class="row py-2">
						<div class="col-12">
							<textarea disabled id="commentsArea" placeholder="Comments..."
									  asp-for="ServiceHeader.Details"
									  class="form-control" style="height: 100px;">

                                            </textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>